// Color variables and highlight rules for the vampire theme.
:root {
  --body-background-color: #27262b;
  --sidebar-color: #232226;
  --border-color: #44434d;
  --body-text-color: #e6e1e8;
  --body-heading-color: #f5f6fa;
  --nav-child-link-color: #959396;
  --search-result-preview-color: #959396;
  --link-color: #f74049;
  --btn-primary-color: #e94c4c;
  --base-button-color: #302d36;
  --search-background-color: #302d36;
  --table-background-color: #302d36;
  --feedback-color: #1c1b1f;
}

.highlight .k,
.highlight .kd {
  color: #569CD6;
}
.highlight .nf {
  color: #DCDCAA;
}
.highlight .p {
  color: #D4D4D4;
}
.highlight .s {
  color: #CE9178;
}
.highlight .n {
  color: #9CDCFE;
}
.highlight .c1 {
  color: #6A9955;
}
.highlight .kt {
  color: #4EC9B0;
}
