.logo {
  display: flex;

  img {
    width: 64px;
    height: 64px;
    padding: 5px;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 5px;

    .top {
      font-size: 1rem;
    }

    .bottom {
      font-size: 1.125rem;
    }
  }
}

.prefab-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .prefab-item {
    padding: 1em 2em;
    margin: 0.1em;
    width: 32%;
    @media (max-width: 900px) {
      width: 48%;
    }
    @media (max-width: 500px) {
      width: 100%;
    }
    min-width: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: #302d36;
  }

  .prefab-item:hover {
    background: #44434d;
  }

  .prefab-item:active {
    background: #27262b;
  }
}
