{{ define "storeOutputFormat" }}
  {{- .Store.Set "relearnOutputFormat" "HTML" }}
{{ end }}

{{ define "main" }}
<h1>{{ .Title }} Prefabs</h1>

{{ .Content }}
<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    {{ range $name, $prefab := site.Data.prefabs }}
      {{ if ne $name "All" }}
      <tr>
        <td><a href="{{ (printf "/prefabs/%s" $name) | relURL }}"><b>{{ $name }}</b></a></td>
        <td>{{ len $prefab }}</td>
      </tr>
      {{ end }}
    {{ end }}
  </tbody>
</table>
{{ end }}
