{{ define "storeOutputFormat" }}
  {{- .Store.Set "relearnOutputFormat" "HTML" }}
{{ end }}

{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ $prefab_data := index site.Data.prefabs .Params.data_file }}

{{ .Content }}
{{ if eq .Params.data_file "All" }}
{{ $slice_base := (printf "/prefab-slices/All") | relURL }}
<table id="prefab-table" data-source="{{ $slice_base }}" data-total="{{ len $prefab_data }}">
        <thead>
                <tr>
                        <th>Prefab</th>
                        <th>Id</th>
                </tr>
        </thead>
        <tbody></tbody>
</table>
{{ else }}
<table>
        <thead>
                <tr>
                        <th>Prefab</th>
                        <th>Id</th>
                </tr>
        </thead>
        <tbody>
                {{ range $name, $id := $prefab_data }}
                <tr>
                        <td><a href="{{ (printf "/prefabs/%s" $name) | relURL }}"><b>{{ $name }}</b></a></td>
                        <td>{{ $id }}</td>
                </tr>
                {{ end }}
        </tbody>
</table>
{{ end }}
{{ partial "data_table_search.html" . }}
{{ end }}
