{{ define "storeOutputFormat" }}
  {{- .Store.Set "relearnOutputFormat" "HTML" }}
{{ end }}

{{ define "main" }}
<h1>{{ .Title }} Prefabs</h1>

{{ $prefab_data := index site.Data.prefabs .Params.data_file }}
{{ $prefab_files := site.Data.prefab_files }}

{{ partial "data_table_search.html" . }}
{{ .Content }}
<table>
        <thead>
                <tr>
                        <th>Prefab</th>
                        <th>Id</th>
                </tr>
        </thead>
        <tbody>
                {{ range $name, $id := $prefab_data }}
                <tr>
                        <td>
                                {{ if in $prefab_files $name }}
                                <a href="{{ (printf "/prefabs/%s" $name) | relURL }}"><b>{{ $name }}</b></a>
                                {{ else }}
                                <b>{{ $name }}</b>
                                {{ end }}
                        </td>
                        <td>{{ $id }}</td>
                </tr>
                {{ end }}
        </tbody>
</table>
{{ end }}

