---
layout: default
parent: Prefabs
nav_exclude: false
search_exclude: false
---

<h1>{{ page.title }} Prefabs</h1>

{% assign prefab_data = site.data.prefabs[page.data_file] %}

{% include data_table_search.html %}
{{ content}}
<table>
  <thead>
    <tr>
      <th>Prefab</th>
      <th>Id</th>
    </tr>
  </thead>
  <tbody>
    {% for row in prefab_data %}
      {% assign link_category = page.data_file %}
      {% if page.data_file == 'All' %}
        {% assign link_category = site.data.prefab_category_map[row[0]] %}
      {% endif %}
      <tr>
        <td><a href="https://github.com/decaprime/vrising-modding/blob/main/_data/prefabs/{{ link_category }}/{{ row[0] }}.md">{{ row[0] }}</a></td>
        <td>{{ row[1] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
