---
layout: default
parent: Prefabs
nav_exclude: false
search_exclude: false
---

<h1>{{ page.title }} Prefabs</h1>

{% assign prefab_data = site.data.prefabs[page.data_file] %}
{% include data_table_search.html %}

{{ content}}
<table>
  <thead>
    <tr>
      <th>Prefab</th>
      <th>Id</th>
    </tr>
  </thead>
  <tbody>
{% for row in prefab_data %}
  {% assign clean_name = row[0] | strip %}
  {% assign markdown_data = site.entities | where: "name", clean_name | first %}
  <tr>
    <td>
      {% if markdown_data %}
        <a href="{{ site.baseurl }}{{ markdown_data.url }}"><b>{{ clean_name }}</b></a>
      {% else %}
        <b>{{ clean_name }}</b>
      {% endif %}
    </td>
    <td>{{ row[1] }}</td>
  </tr>
{% endfor %}
  </tbody>
</table>